agenda/agenda.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="agenda">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="agenda" minOccurs="1" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="contacto">
    <xs:complexType>
    <xs:attribute name="nombre" type="xs:string" use="required"/>
    <xs:attribute name="apellidos" type="xs:string" use="required"/>
    <xs:attribute name="movil" type="xs:double" use="required"/>


    </xs:complexType>
    </xs:element>
</xs:schema>